@font-face {
    font-family: 'TopHeader';
    src: url('../fonts/Adam.otf');
}

@font-face {
    font-family: 'Default';
    src: url('../fonts/Unified-Regular.ttf');
}

* {
    font-family: 'Default';
    font-size: 16pt;
}

/* Global styles */

ul {
    padding: 0;
    margin: 10px auto;
}

ul li {
    list-style: none;
}

dd {
    margin-bottom: 10px;
}


/*
    Top heading styling
*/

.margin-top-40 {
    margin-top: 40px;
}

.center-v {
    display: flex;
    justify-items: center;
    align-items: center;
}

.top-header {
    background: #111;
    color: #f1f1f1;
    padding: 20px
}

.top-header-text {
    font-family: 'TopHeader';
    font-size: 42pt;
}

/* Hading Styling*/

.heading-box {
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
}

/* Profiency icons*/

ul.prof li {
    list-style: none;
    padding: 5px;
    display: inline-block;
    /*float: left;*/
}

ul.prof li  icon {
    height: 200px;
    width: 180px;
    line-height: 50px;
    display: block;
    background: url('../img/proficiency-icons.png') no-repeat;
}

ul.prof li#autocad icon {
    background-position: 0 0
}

ul.prof li#revit icon {
    background: url(../img/proficiency-icons.png) -190px 0;
}

ul.prof li#photoshop icon {
    background: url(../img/proficiency-icons.png) -385px 0;
}

ul.prof li#illustrator icon {
    background: url(../img/proficiency-icons.png) -590px 0;
}

ul.prof li#coreldraw icon {
    background: url(../img/proficiency-icons.png) -800px 0;
}

ul.prof li#msoffice icon {
    background: url(../img/proficiency-icons.png) -1060px 0;
}

/* Professional Skills*/
table {
    width: 100%;
    margin: 25px auto 0;
}

/* Contact Icons */
ul.contact {
    padding: 0;
    text-align: justify;
}

ul.contact li {
    list-style: none;
    margin: 10px 0;
}

ul.contact li span {
    padding-right: 20px;
    font-size: 20pt;
}

ul.contact li p {
    display: inline-block;
}
