<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.path }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.path }}/assets/js/bootstrap.min.js"></script>
</head>

<body>

    <section class="margin-top-40">
        <div class="container">
            <div class="row center-v">
                <div class="col-md-8">
                    <header class="text-center top-header">
                        <h1 class="top-header-text">{{ site.title }}</h1>
                        <p>Interior Designer student &amp; Freelance designer/artist</p>
                    </header>
                </div>
                <div class="col-md-4">
                    <img src="{{ site.path }}/assets/img/myprofile.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="heading-box">CONTACT</h1>
                </div>
                <div class="col-md-7">
                    <article class="text-center">
                        <h1 class="heading-box">ABOUT ME</h1>
                        <p>
                            I'm a 24 year  old female third year Interior Design student  who has a love for
                            combining realism &amp; illustration sketch together. My design style would be
                            relavent in contemporary chic or rustic industrial. I'm a hard worker and business
                            minded by helpling my mother with her mini confectionery business and being a
                            freelance designer/artist. I believe that every mountain top is within reach if
                            you just keep climbing.
                        </p>
                    </article>

                    <article class="text-center">
                        <h1 class="heading-box">EDUCATION</h1>

                        <h2>Secondary Education</h2>
                        <p>
                            Pro Arte Alphen Park <br>
                            National Senior Certificate <br>
                            2012
                        </p>

                        <h2>Tertiary Education</h2>
                        <p>
                            Tshwane University of Technology <br>
                            National Diploma in Interior Design <br>
                            Third Year
                        </p>

                        <h2>Subjects</h2>
                        <p>
                            Interior Design, Technical drawing &amp; construction, Professional Design Practice, Presentation, Design Theory, Technical Services, Materials, Photography, Model Building and Revit.
                        </p>
                    </article>

                    <article class="text-center">
                        <h1 class="heading-box">PROFICIENCY</h1>
                        <p>
                            <ul class="prof">
                                <li id="autocad">
                                    <icon></icon>
                                    <p>
                                        AutoCad <br>
                                        Intermediate
                                    </p>
                                </li>
                                <li id="revit">
                                    <icon></icon>
                                    <p>
                                        Revit <br>
                                        Advanced
                                    </p>
                                </li>
                                <li id="photoshop">
                                    <icon></icon>
                                    <p>
                                        Photoshop <br>
                                        Adanced
                                    </p>
                                </li>
                                <li id="illustrator">
                                    <icon></icon>
                                    <p>
                                        illustrator <br>
                                        Beginner
                                    </p>
                                </li>
                                <li id="coreldraw">
                                    <icon></icon>
                                    <p>
                                        Corel Draw <br>
                                        Beginner
                                    </p>
                                </li>
                                <li id="msoffice">
                                    <icon></icon>
                                    <p>
                                        Microsoft Office <br>
                                        Intermediate
                                    </p>
                                </li>

                            </ul>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
