<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.path }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.path }}/assets/js/bootstrap.min.js"></script>
</head>

<body>

    <section class="margin-top-40">
        <div class="container">
            <div class="row center-v">
                <div class="col-md-8">
                    <header class="text-center top-header">
                        <h1 class="top-header-text">{{ site.title }}</h1>
                        <p>Interior Designer student &amp; Freelance designer/artist</p>
                    </header>
                </div>
                <div class="col-md-4">
                    <img src="{{ site.path }}/assets/img/myprofile.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

</body>

</html>
